.app__wrapper {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}
.appHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}
.content__wrapper {
	background-color: var(--bg-2);
	padding: 2rem;
	border-radius: 12px;
}
