.button {
	display: inline-block;
	padding: 0.8rem 2rem;
	border: none;
	font-weight: 500;
	border-radius: 6px;
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	letter-spacing: 1px;
}
.button--primary {
	background-color: var(--primaryPurple);
	color: var(--white);
}
.button--secondary {
	background-color: var(--bg-3);
	color: var(--black-1);
}
