@import './_mixins.scss';

.box {
	background-color: royalblue;
	width: 200px;
	height: 200px;
	border-radius: 12px;
}
.svgBox {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	svg {
		width: 100%;
		height: 100%;
		stroke: white;
		display: flex;
		align-items: center;
		justify-content: center;
		@include smallDeviceSize {
			color: red;
		}
	}
}
